*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/city.jpg);
  background-size: cover;
  position: relative;
}
img{
    width: 50px;
}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 13;
}

.nav-link ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li :hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    top: 30%;
    position: absolute;
    text-align: center;
    padding: 10px;
}

.text-box h1{
    font-size: 50px;
    margin: 30px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn{
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    border: 1px solid whitesmoke;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 35px;
}            

.hero-btn:hover{
    border: 1px solid rebeccapurple ;
    background-color: blueviolet;
    transition: 1s;
}

nav.fa{
    display: none;
}

/* course */

.course{
    padding-top: 50px;
    text-align: center;
    margin: auto;
    width: 80%;
}
.course h1{
    font-size: 30px;
    font-weight: 500;
}
.course p{
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.course h3{
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.course-col{
    flex-basis: 31%;
    background-color: plum;
    padding-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 3s;
    cursor: pointer;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(238, 115, 14, 0.486);
    transition: 1s;
}

/* Campus */

.campus{
    padding-top: 50px;
    text-align: center;
    margin: auto;
    width: 80%;
}
.campus-col{
    flex-basis: 31%;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.layer h3{
    width: 100%;
    bottom: 0;
    left: 50%;
    position: absolute;
    color: white;
    font-weight: 500;
    transform: translateX(-50%);
    font-size: 26px;
    opacity: 0;
    transition: 0.5;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* facilities */

campus-col img{
    width: 100%;
    border-radius: 10px;
}

/* testimonials */

.testimonial-col{
    flex-basis: 40%;
    margin: 2%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background: pink;
    display: flex;
    cursor: pointer;
    
}
.testimonial-col img{
    width: 100px;
    margin-left:5px ;
    border-radius: 10px;

}
.testimonial-col p{
    padding: 10px;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

/* Call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(red, blue);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    padding: 0;
    margin-bottom: 40px;
    color: #fff;
}

/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}
.icons .fa{
    color: orangered;
    margin: 0 13px;
    padding: 10px;
    cursor: pointer;
}

/* about page  */
.sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,8,30,0.4),rgba(4,8,30,0.4)),url(Images/about.jpeg);
    background-position: center;
    text-align: center;
}
.sub-header h1{
    margin-top: 150px;
    font-size: 40px;
    font-weight: 600;
    color: brown;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 58%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
    border: solid 5px ;
}
.about-col p{
    padding-top: 15px;
}
.red-btn{
    border: 1px solid red;
    background-color: transparent;
    color: red;
}

/* blog */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background-color: indianred;
    color: floralwhite;
    padding: 7px 0;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 7px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;

}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
